.photo{
    img{
        width:100%;
        height: 700px;
    }
}
.red_main{
    width: 100%;
    height: 4790px;
    background: #F549FD;
    .container{
        height: 4780px;
        background: white;
    }
}