.photo{
    img{
        width:100%;
        height: 700px;
    }
}
.white_main{
    width: 100%;
    height: 2790px;
    background:#E70432;
    .container{
        height: 2780px;
        background: white;
        
    }
}