.nav { width: 100%; min-width: 1190px; height: 150px; background: url("../img/nav.jpg") no-repeat; background-size: 100% 100%; position: relative; }

.nav a { display: block; width: 140px; height: 40px; position: absolute; bottom: 0; left: 22%; background: red; }
