.login { width: 350px; height: 400px; background: #ccc; margin: 0 auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border: 5px solid #f0ebeb; }

.close { width: 100%; height: 35px; background: rgba(255, 0, 54, 0.8); }

.close button { width: 20px; height: 20px; line-height: 20px; margin-top: 8px; background: #fff; border-radius: 50%; float: right; margin-right: 10px; }

.close p { color: #fff; height: 35px; line-height: 35px; margin-left: 25px; font-size: 20px; }

.enter { width: 300px; height: 70%; padding: 40px 0 0 25px; }

.username { width: 300px; height: 40px; margin: 15px 0; }

.password { width: 300px; height: 40px; margin-bottom: 15px; }

.btn_login { width: 300px; height: 40px; background: rgba(255, 0, 54, 0.8); border: none; border-radius: 5px; }

ul { float: right; }

li { float: left; font-size: 12px; padding: 20px 0 0 5px; }

a { color: #000; }

li:hover a { color: red; }
